<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des students</title>
    <link rel="stylesheet" href="templates/style.css">
</head>

<body>
    <h1>Liste des students</h1>
    <main role="main" class="container">
        <ul class="student-list">
            {% for student in students %}
            <li class="student-card">
                <h2>{{ student.name }}</h2>
                <p class="student-age">Age: {{ student.age }} ans</p>
                <p class="student-bio">Bio: {{ student.bio }}</p>
            </li>
            {% endfor %}
        </ul>
        <p>Ceci est une liste de students.</p>
    </main>
</body>

</html>